[Unit]
Description=KetchupBot Galaxypedia updater
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=ketchupbot
WorkingDirectory=/opt/ketchupbot-updater
ExecStart=/opt/ketchupbot-updater/KBot.CLI --ships all --turrets
TimeoutStartSec=infinity
